@import "@secrets/vue-menu/src/style/color.less";
@import "@secrets/vue-menu/src/style/index.less";

@font-size: 12px;
@offset: 72px;
@padding: 6px;

@primary-color: #57a3f3;
@hover-color: #f3f3f3;
@prefix: mention;

.sm-menu .chid-nav > li {
  position: unset;
}
.sm-menu .chid-nav > li + li > div {
  word-break: keep-all;
}
.sm-menu .chid-nav > li {
  &:hover,
  &.hover {
    & > div > div.chid-nav-wrap {
      top: 0;
      height: 100%;
    }
  }
}
.sm-menu .chid-nav > li > div > a {
  line-height: normal;
}
.sm-menu .chid-nav > li.active {
  color: inherit;
  background: #fff;
}
.sm-menu .chid-nav > li {
  &:hover,
  &.hover {
    color: @primary-color !important;
    background-color: #f5f6fc !important;
  }
}
.mention-editor {
  font-size: @font-size !important;
}
.sm-menu .chid-nav > li > div > div.chid-nav-wrap {
  box-shadow: 0 4px 8px 0 rgba(82, 63, 105, 0.15) !important;
}
